<header >
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">Shoping Cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Orders</a>
                    </li>
                    {{!-- {{#if user}} --}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/cart">Cart</a>
                    </li>
                    {{!-- {{/if}} --}}
                    <li class="nav-item dropdown">
                        <a class="nav-link active  dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{#if user}}
                            {{user.name}}
                            {{else}}
                            Account
                            {{/if}}
                        </a>
                        <ul class="dropdown-menu active " aria-labelledby="navbarDropdown">
                            {{#if user}}
                            <li><a class="dropdown-item " href="/logout">Logout</a></li>
                            {{else}}
                            <li><a class="dropdown-item " href="/login">Login</a></li>
                            <li><a class="dropdown-item " href="/signup">Signup</a></li>
                            {{/if}}
                            
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                        </ul>
                    </li>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>

        </div>
    </nav>
</header>
