<section>
    <div class="card mb-3" style="max-width:px;">
        <div class="row g-0 m-2">
            <div class="col-md-4">
                <img src="/product-image/{{products._id}}.jpg" alt="" class="img-fluid rounded-start"
                    style="height: 400px; width: 100%;" />

                <div class="card-body">
                    <h2 class="card-title">{{products.name}}</h5>
                        <h6 class="card-text">{{products.description}}</h6>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">&#x20b9;{{products.price}}</h2>
                    <p class="card-text">
                    </p>
                    <br>
                    <a href="/cart" class="btn btn-primary">Add Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>